<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- importar arquivo de estilização -->
    <title>Desafio RGB</title>
  </head>
  <body>
    <div class="inputs">
      <input id="red" type="range" min="0" max="255" step="1" value="0">
      <!-- Declarar input da cor verde -->
      <!-- Declarar input da cor azul -->
    </div>
    
    <!-- Declarar uma div que será o mostrador da cor -->
  </body>
  <!-- importar arquivo de lógica (javascript) -->
</html>